# Data Transformation

<img src="transformation.png">

In [1]:
# import library
import pandas as pd

In [3]:
# load data
sales = [
    ('pelanggan', ['andi', 'andi', 'andi', 'andi', 'andi', 'budi', 'budi', 'budi']),
    ('produk',  ['debit', 'debit', 'debit', 'kredit', 'kredit', 'debit', 'debit', 'kredit']),
    ('transaksi',  ['transfer', 'setor', 'transfer', 'gestun', 'payment', 'setor', 'transfer', 'payment']),
    ('rp', [100000, 100000, 200000, 100000, 100000, 200000, 100000, 100000])
]
df = pd.DataFrame.from_dict(dict(sales))
df

  pelanggan  produk transaksi      rp
0      andi   debit  transfer  100000
1      andi   debit     setor  100000
2      andi   debit  transfer  200000
3      andi  kredit    gestun  100000
4      andi  kredit   payment  100000
5      budi   debit     setor  200000
6      budi   debit  transfer  100000
7      budi  kredit   payment  100000

In [ ]:
# # load data
# df = pd.read_excel('data.xlsx')
# df

In [4]:
# buat kolom baru produk_transaksi
df['produk_transaksi'] = df['produk'] + '_' + df['transaksi']
df

  pelanggan  produk transaksi      rp produk_transaksi
0      andi   debit  transfer  100000   debit_transfer
1      andi   debit     setor  100000      debit_setor
2      andi   debit  transfer  200000   debit_transfer
3      andi  kredit    gestun  100000    kredit_gestun
4      andi  kredit   payment  100000   kredit_payment
5      budi   debit     setor  200000      debit_setor
6      budi   debit  transfer  100000   debit_transfer
7      budi  kredit   payment  100000   kredit_payment

In [5]:
# transformasi struktur data
data = (df
        .drop(['produk', 'transaksi'], axis=1) # hapus kolom produk dan transaksi
        .groupby(['pelanggan','produk_transaksi']) # kelompokkan berdasarkan pelanggan (baris) dan produk_transaksi (kolom)
        .agg({'produk_transaksi': 'count', 'rp': 'sum'}) # buat kolom untuk mengelompokkan produk_transaksi dan jumlah rp
        .unstack() # mentransformasi baris menjadi kolom
       )
data

                 produk_transaksi                                              \
produk_transaksi      debit_setor debit_transfer kredit_gestun kredit_payment
pelanggan
andi                          1.0            2.0           1.0            1.0
budi                          1.0            1.0           NaN            1.0

                          rp
produk_transaksi debit_setor debit_transfer kredit_gestun kredit_payment
pelanggan
andi                100000.0       300000.0      100000.0       100000.0
budi                200000.0       100000.0           NaN       100000.0

In [7]:
# melihat ukuran dimensi data
data.shape

(2, 8)

In [8]:
# melihat kolom-kolom yang dimiliki oleh data
data.columns

MultiIndex(levels=[['produk_transaksi', 'rp'], ['debit_setor', 'debit_transfer', 'kredit_gestun', 'kredit_payment']],
           labels=[[0, 0, 0, 0, 1, 1, 1, 1], [0, 1, 2, 3, 0, 1, 2, 3]],
           names=[None, 'produk_transaksi'])

In [34]:
# menghapus tulisan label kolom produk_transaksi dan rp
data.columns = data.columns.droplevel(0)
data

produk_transaksi,debit_setor,debit_transfer,kredit_gestun,kredit_payment,debit_setor,debit_transfer,kredit_gestun,kredit_payment
pelanggan,,,,,,,,
andi,1.0,2.0,1.0,1.0,150000.0,300000.0,100000.0,150000.0
budi,1.0,1.0,NaN,1.0,200000.0,100000.0,NaN,150000.0

In [35]:
data.shape

(2, 8)

In [36]:
data.columns

Index(['debit_setor', 'debit_transfer', 'kredit_gestun', 'kredit_payment',
       'debit_setor', 'debit_transfer', 'kredit_gestun', 'kredit_payment'],
      dtype='object', name='produk_transaksi')

In [37]:
# menghapus tulisan label baris produk_transaksi
data.columns.name = ''
data

,debit_setor,debit_transfer,kredit_gestun,kredit_payment,debit_setor,debit_transfer,kredit_gestun,kredit_payment
pelanggan,,,,,,,,
andi,1.0,2.0,1.0,1.0,150000.0,300000.0,100000.0,150000.0
budi,1.0,1.0,NaN,1.0,200000.0,100000.0,NaN,150000.0

In [38]:
# mengisi nilai Nan dengan 0 dan mengubah tipe data menjadi integer
data = (data.fillna(0).applymap(int))
data

,debit_setor,debit_transfer,kredit_gestun,kredit_payment,debit_setor,debit_transfer,kredit_gestun,kredit_payment
pelanggan,,,,,,,,
andi,1,2,1,1,150000,300000,100000,150000
budi,1,1,0,1,200000,100000,0,150000

In [39]:
data.shape

(2, 8)

In [40]:
data.columns

Index(['debit_setor', 'debit_transfer', 'kredit_gestun', 'kredit_payment',
       'debit_setor', 'debit_transfer', 'kredit_gestun', 'kredit_payment'],
      dtype='object', name='')